<% @products.each do |product| %>

  <div class="product-image">

    <%= link_to image_tag(product['image']['url']), outfit_path(style: {type: 'shoes', shoes_url: product['image']['url']}) %>


  </div>
  <div class="product-name">
    <%= product['name'] %>
  </div>

<% end%>
