<div class="full">
  <h1>MIXMATCH</h1>


  <div id="login-buttons">
    <div id="one">Login<a href="/sessions/new"><span class="login-span"></span></a></div>
    <div id="two">Sign Up<a href="/users/new"><span class="signup-span"></span></a></div>
  </div>

</div>
