<div class="my-outfits-page-wrapper">
  <div class="my-outfits-text">
    <h2>Outfits</h2>
  </div>
  <div class="each-outfit-name">
    <% @outfits.each do |outfit| %>
      <p><%= link_to outfit.name, outfit %></p>
    <% end %>
  </div>

</div>
