
<div class="friends-pages-links">
  <div class="click-to-see">
    <h2>Click on a friend to view their page!</h2>
  </div>
  <div class="friends-container">
    <% @users.each do |user| %>
    <p><%= link_to user.username.capitalize, user %></p>
    <% end %>
  </div>
</div>
