@import 'variables';

body {
  color: $font-base;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $link-color-hover;
    outline: none;
  }
}
